/* CustomScrollbar.css */

/* WebKit-based browsers (Chrome, Safari) */
/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}


/* Firefox */
/* Customize the scrollbar track and thumb */
/* For Firefox, we use scrollbar-width */
/* Set width and background-color for the scrollbar track */
/* Set width and background-color for the scrollbar thumb */
/* Set border-radius for the scrollbar thumb */
/* Add any other desired styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 #888;
}

/* For a better cross-browser experience, you can add the following */
/* Hide the scrollbar in IE and Edge */
/* Show a thin scrollbar in Firefox */
/* Show a normal scrollbar in WebKit-based browsers */
/* Adjust the colors and other properties as needed */
/* This is just an example and may require further tweaking based on your specific design */
/* This may not be supported in the future, so always test thoroughly */
/* For best results, consider using a library or plugin that provides better cross-browser support */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* If you want to hide the scrollbar when it's not in use */
/* You can add the following to hide the scrollbar when the user is not actively scrolling */
/* Note that this might not work on all browsers, and it's purely for cosmetic purposes */
/* Adjust as needed based on your specific design */
.custom-scrollbar::-webkit-scrollbar-thumb {
  opacity: 0.8;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}


.App {
  text-align: center;
}

td{
  vertical-align: middle;
  font-size: 14px;
}
.mr-2{
  margin-right: 0.75rem!important;
}
.prod-title {
  font-size: 16px;
  font-weight: 600;
  color: #03A9F4!important;
}
.prod-desc {
  font-size: 13px;
  color: darkgrey;
}
.pb-300 {
  padding-bottom: 300px;
}
.total{
  background: linear-gradient(45deg, #FFC107, #FF9800);
  font-size: 12px;
  padding: 2px 5px;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #FF9800;
  margin-right: 0.5rem;
}
.nk-counter span {
  color: #2b5cfd;
  font-size: 14px;
  line-height: normal;
}

@keyframes slide-down {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(50vh);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500%);
  }
}

 
 .btn-close{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}


@keyframes  moveToCart {
  from {
     transform: translate(0, 0);
     transform: scale(3); }
  to { transform: translate(100px, -700px);
    transform: scale(1); }
}

@keyframes moveProductToCart {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}


.tp-header-action-badge {
  position: absolute;
  top: 15px;
  /* right: -13px; */
  display: inline-block;
  width: 23px;
  height: 23px;
  /* line-height: 20px; */
  text-align: center;
  border-radius: 50%;
  background-color: black;
  color:white;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid white;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.profile-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.user-details {
  text-align: center;
  margin-top: 10px;
}

.tab-icon {
  margin-right: 10px;
}


.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  /* position: relative !important; */
  top: 100px !important;
  height: auto !important;
  left:auto !important;
  z-index: 9999 !important;
}

.css-1l8j5k8{
  top: 100px !important;
  height: auto !important;
  left:auto !important;
  z-index: 9999 !important;
}
.css-1191obr-MuiPaper-root-MuiAppBar-root{
  /* position: relative !important; */
  top: 100px !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  top:100px !important;
  left: auto !important;
}

.css-k008qs{ 
  position: relative !important;
  top: 100px !important;
}

.css-1r9jet7{
  min-height: 15px !important;
  justify-content: flex-start !important;
}

.css-10hburv-MuiTypography-root{
  font-size: 0.75rem !important;
  font-weight: bold !important;
}

.css-100u9pv-MuiDrawer-docked .MuiDrawer-paper{
  overflow-x: hidden !important
}


@media only screen and (max-width: 720px) {


  .css-100u9pv-MuiDrawer-docked{
    height: fit-content !important;
    width: 100% !important;
  }

  .css-100u9pv-MuiDrawer-docked .MuiDrawer-paper {
    width: 100% !important;
    height: fit-content !important;
    position:  absolute!important;
  }
  .css-100u9pv-MuiDrawer-docked .MuiBox-root .css-k008qs{
    height: 0px !important;
    width: 100% !important;
    
  }

 .css-1ibjhk8{
    top: 390px !important;
    position: absolute !important;
    left: 0px !important;
    padding: 0px !important;
  }
  
  .css-nukr7r .MuiDrawer-paper{
    width: 100% !important;
  }
  
  .css-k008qs{
    height: fit-content !important;

  }

  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    top: 0!important;
  }



}



.modal-25 {
  /* max-width: 25% !important; */
  right: 0% !important;
  transform: translateX(100%)!important;
  transition: transform 2s ease !important;
  z-index: 99999;
  /* height: 100vh; */
  /* overflow: hidden; */
  position: absolute;
  /* left: 39%!important; */
}

.modal.show .modal-25 {
  transform: translateX(0) !important;
  margin-top: 0;
}

.modal-backdrop {
  filter: blur(1px) !important;
}

.modal{
  z-index: 999999;
}


.ss4-button-2:before {
  content: '';
  position: absolute !important;
  top: -5px !important;
  right: -5px !important;
  bottom: -5px !important;
  left: -5px !important;
  z-index: -1 !important;
  background: linear-gradient(90deg, #fbd78b, #b4c3fc, #eec1d8, #fbd78b);
  background-size: 400% !important;
  border-radius: 40px !important;
  filter: blur(40px) !important;
  opacity: 0 !important;
  transition: 1.5s !important;
}

.ss4-button-2 {
  cursor: pointer !important;
  animation: animate 8s linear infinite !important;
  padding: 15px 30px !important;
  text-align: center !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  color: #000 !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  outline: none !important;
  border: 1px solid #fff;
  background: linear-gradient(90deg, #fbd78b, #b4c3fc, #eec1d8, #fbd78b) !important;
  background-size: 400% !important;
  box-shadow: 0px 0px 12px 0px #91a2db !important;
  -webkit-transition: all .3s !important;
  -o-transition: all .3s !important;
  transition: all .3s !important;
  transform: translate(0%, 0%) !important;
    overflow: hidden !important;
    display: inline-block !important;
}

.ss4-button-2 span {
  position: absolute !important;
}

.ss4-button-2 span:nth-child(1) {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 2px !important;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2b5cfd)) !important;
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #2b5cfd) !important;
  -webkit-animation: 2s animateTop linear infinite !important;
  animation: 2s animateTop linear infinite !important;
}

.ss4-button-2 span:nth-child(2) {
  top: 0px !important;
  right: 0px !important;
  height: 100% !important;
  width: 2px !important;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#000)) !important;
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #000) !important;
  -webkit-animation: 2s animateRight linear -1s infinite !important;
  animation: 2s animateRight linear -1s infinite !important;
}
.ss4-button-2 span:nth-child(3) {
  bottom: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 2px !important;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2b5cfd)) !important;
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #2b5cfd) !important;
  -webkit-animation: 2s animateBottom linear infinite !important;
  animation: 2s animateBottom linear infinite !important;
}

.ss4-button-2 span:nth-child(4) {
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 2px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#000)) !important;
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #000) !important;
  -webkit-animation: 2s animateLeft linear -1s infinite !important;
  animation: 2s animateLeft linear -1s infinite !important;
}

.offer-tex p {
  width: 320px !important;
  margin: 0px !important;
  color: #000 !important;
  padding: 0px 0px !important;
  text-align: center !important;
  font-size: 25px !important;
  font-weight: 700 !important;
  font-family: 'Tinos', serif !important;
}

/* td{
  vertical-align: top !important;
} */

/* @keyframes animate {
  0% {
    background-position: 0;
}

100% {
    background-position: 400%;
}
} */


@keyframes animateTop{
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
}

@keyframes animateLeft{
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}

td span {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}



.noBorderBottom{
  border-bottom: 0 !important;
}

.account-steps {
  display: flex;
  width: 85%;
  height: auto;
  margin: auto;
  padding-top: 11px;
  padding-bottom: 11px;
}

.step {
  height: 100%;
  width: 100%;
  background: #d6d6d6;
  border-radius: 12px;
  height: 12px;
  margin-right: 5px;
  margin-left: 10px;
}

.nomarginTop{
  margin-top: 0 !important;
}


.text-sm table{
  width: 100% !important;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
  max-width: 100% !important;
}